mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    background-color: #202124;
    height: 100%;
    font-family: monospace !important;
    color: #aaa;
    border-top: 1px solid #666;
}
